/* main{
    background-image: url("/images/whitebackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto auto auto auto;
} */
#cohertContainer{
    background: linear-gradient(white,#60b0f4);
    height: 100vh;
    width: 100vmax;
}
#cohertContainer > h2{
    text-align: center;
}
.cohertImage{
    width:250px;
    height: auto;
    border-radius: 50%; 
    /* margin:auto; */

}
/* .cohertName{
    font-weight: bold;
    font-size: 20px;
}
.cohertContainer div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;  */
    /* animation:load_up 2s forwards;
    -webkit-animation:load_up 2s forwards; */
    /* border: red solid 1px; 
}
/* 
 @keyframes load_up{
    from{opacity:0;top:100%}
    to{opacity:1;top:0%;}
    } */